.home-hero {
  min-height: 100vh;

  &--video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }

  &--image {
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }

  &--logos {
    bottom: 2rem;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    width: 100%;

    span {
      display: inline-block;
      position: relative;
    }

    svg {
      height: 14vw;
      position: relative;
    }
  }

  &--name {
    color: var(--beige);
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    bottom: 70%;
    transform: translate(-50%, 0);
    transition: all 0.5s var(--pamEase);
    width: 200px;
    z-index: 1;

    @media screen and (min-width: 768px) {
      bottom: calc(4vw + 2rem);
    }
  }

  &--overlay {
    background: var(--bleu);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
