@import 'variables';

@font-face {
  font-display: swap;
  font-family: Acma;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/PPAcma-Light.woff2') format('woff2');
}
@font-face {
  font-family: Neue Montreal;
  font-weight: 400;
  src: url('/assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Neue Montreal;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.2;
}
